<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Lista de Alunos</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="img">

            </div>
            <div class="area_login">
                <div class="text">Lista de Alunos</div>
                <div class="btn">
                    <a href="/loginAlunos">Aluno</a>
                    <a href="/loginProfessores">Professor</a>
                </div>
            </div>
        </div>
    </section>
    <script src="js/script.js"></script>
</body>
</html>