<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Professores</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="header">
                <div class="text_nome">
                    <span>Olá, Fulano!</span>
                </div>
                <div class="acao">
                    <a id="btn-add" href="">Novo</a>
                    <a id="btn-sair" href="/loginProfessores">Sair</a>
                </div>
            </div> 
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>Número da Matrícula</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Telefone</th>
                        <th>Status</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="modal-container">
            <div class="modal">
                <form action="">
                    <label for="mat_aluno">Número da Matrícula</label>
                    <input id="mat_aluno" type="text">

                    <label for="nome_aluno">Nome</label>
                    <input id="nome_aluno" type="text">

                    <label for="idade_aluno">Idade</label>
                    <input id="idade_aluno" type="number">

                    <label for="tel_alun">Telefone</label>
                    <input id="tel_aluno" type="text">

                    <label for="status_aluno">Status</label>
                    <input id="status_aluno" type="text">
                </form>
            </div>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>