<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Professores</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="professores_login">
                <form action="" method="GET">
                    <label for="">Nº da matrícula: </label>
                    <input type="text" name="" id="numero_matricula">
                    <label for="">Senha: </label>
                    <input type="password" name="" id="senha_aluno">
                    <div class="erro_">
                        <span>Matrícula ou senha inválida!</span>
                    </div>
                    <a id="prof" href="/professor">Entrar</a>
                    <a href="/home">Voltar</a>
                </form>
            </div>
        </div>
    </section>
    <script src="js/script.js"></script>
</body>
</html>